@tailwind base;
@tailwind components;
@tailwind utilities;
  

@font-face {
    font-family: "Aeonik";
    src: url("../fonts/AeonikTRIAL-Regular.otf");
  }
  
  @font-face {
    font-family: "Aeonik";
    src: url("../fonts/AeonikTRIAL-Bold.otf");
  }
  
  @font-face {
    font-family: "Aeonik";
    src: url("../fonts/AeonikTRIAL-Light.otf");
  }
  
  @font-face {
    font-family: "GT Walsheim Pro";
    src: url("../fonts/GT-Walsheim-Light-Trial-BF651b7fc714941.otf");
  }
  
  @font-face {
    font-family: "GalanoGrotesque-Medium";
    src: url("../fonts/Galano\ Grotesque\ Alt\ Medium.otf");
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
  }
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Light-BETA.ttf");
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.ttf");
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.ttf");
  }