@tailwind base;
@tailwind components;
@tailwind utilities;
  

@font-face {
    font-family: "Aeonik";
    src: url("../fonts/AeonikTRIAL-Regular.otf");
  }
  
  @font-face {
    font-family: "Aeonik";
    src: url("../fonts/AeonikTRIAL-Bold.otf");
  }
  
  @font-face {
    font-family: "Aeonik";
    src: url("../fonts/AeonikTRIAL-Light.otf");
  }
  
  @font-face {
    font-family: "GT Walsheim Pro";
    src: url("../fonts/GT-Walsheim-Light-Trial-BF651b7fc714941.otf");
  }
  
  @font-face {
    font-family: "GalanoGrotesque-Medium";
    src: url("../fonts/Galano\ Grotesque\ Alt\ Medium.otf");
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
  }
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Light-BETA.ttf");
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.ttf");
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.ttf");
  }

  html.w-mod-touch * {
    background-attachment: scroll !important;
  }
  
  /* Add this CSS to your styles */
  .overflow-y-auto::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* color of the scrollbar thumb */
    border-radius: 6px; /* rounded corners of the thumb */
  }
  
  .overflow-y-auto::-webkit-scrollbar-track {
    background-color: #778aa8; /* color of the scrollbar track */
    border-radius: 16px;
  }